*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea

# Release signing - only ever written by the CD publish workflow from secrets, or by
# Android Studio's Generate Signed Bundle/APK wizard for local one-off signing
keystore.properties
*.jks
*.keystore
